---
const personalImageAlt = "Fabrizio Andrade";
import Badge from "@/components/icons/Badge.astro";
import MailIcon from "@/components/icons/Mail.astro";
import SocialPill from "@/components/SocialPill.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
---

<div class="max-w-xl relative">
  <div id="image-badge-container">
    <img
      class="profile-image sm:mt-8 shadow-lg"
      src="/fotodeperfil.webp"
      alt={personalImageAlt}
    />
    <h1
      class="original-text text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl sm:mb-0 dark:text-white mt-0 mb-0"
      data-i18n="SECTION_HERO_TITLE"
    >
    </h1>
    <a
      href="https://linkedin.com/in/fabrizio-andrade"
      target="_blank"
      rel="noopener"
      class="inline-flex items-center transition md:justify-center animated-badge mt-1"
    >
      <Badge><span data-i18n="HERO_BADGE">Disponible para trabajar</span></Badge>
    </a>
  </div>
  <div class="h1-container">
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white"
      data-i18n="SECTION_HERO_TITLE"
    >
      Hola! Soy Fabrizio
    </h1>
  </div>
  <p
    class="mt-2 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong>Fullstack Web Developer</strong> <span data-i18n="FIRST_DESCRIPTION">y</span> <strong       data-i18n="SECOND_HERO_DESCRIPTION"
      >Estudiante de Ciencias de la Computacion</strong
    > <span data-i18n="LAST_DESCRIPTION">de</span> Buenos Aires, Argentina 🇦🇷.
  </p>
  <nav class="flex flex-wrap gap-4 mt-2">
    <SocialPill href="mailto:fabrizioandrade9898@gmail.com">
      <MailIcon class="size-4" />
      <span data-i18n="HERO_CONTACT">Contáctame</span>
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/fabrizio-andrade/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>
</div>

<style>
  .profile-image {
    float: left;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    shape-outside: url("/fotodeperfil.webp");
    shape-margin: 10px;
    margin-right: 0.5rem;
    z-index: 1;
  }

  .animated-badge:hover :global(.badge-content) {
    color: transparent;
  }

  .animated-badge:hover :global(.badge-overlay) {
    transform: translateX(0);
  }

  .h1-container {
    visibility: hidden;
  }

  @media (480px<= width < 640px) {
    .profile-image {
      margin-top: 29px;
    }
  }
  @media (width>419px) {
    .h1-container {
      display: none;
    }
  }

  @media (width < 420px) {
    #image-badge-container {
      position: relative;
      display: flex;
      gap: 1rem;
      margin-bottom: 1rem;
    }
    .profile-image {
      float: none;
      width: 4rem;
      height: 4rem;
      border-radius: 9999px;
    }

    .original-text {
      position: absolute;
      bottom: 0;
      top: 84px;
    }

    .h1-container {
      visibility: hidden;
      display: block;
      margin-bottom: 20px;
    }
    .h1-container h1 {
      position: relative;
      margin: 0;
    }
  }
</style>
