---
const personalImageAlt = "Fabrizio Andrade";
import Badge from "@/components/icons/Badge.astro";
import LinkedInIcon from "@/components/icons/Linkedin.astro"
import MailIcon from "@/components/icons/Mail.astro"
import SocialPill from "@/components/SocialPill.astro"
---

<div class="max-w-xl relative">
  <img class="profile-image" src="/fotodeperfil.png" alt={personalImageAlt} />
  <h1
    class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white mt-0 mb-1"
  >
    Hola! Soy Fabrizio 
  </h1>
  <a
    href="https://linkedin.com/in/fabrizio-andrade"
    target="_blank"
    rel="noopener"
    class="inline-flex items-center transition md:justify-center animated-badge mt-1 "
  >
    <Badge>Disponible para trabajar</Badge>
  </a>
  <p
    class="mt-2 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
  >
    <strong>Fullstack Web Developer</strong> y <strong
      >Estudiante de Ciencias de la Computacion</strong
    > de Buenos Aires, Argentina 🇦🇷.
    
  </p>
  <nav class="flex flex-wrap gap-4 mt-2">
    <SocialPill href="mailto:fabrizioandrade9898@gmail.com">
      <MailIcon class="size-4" />
      Contáctame
    </SocialPill>
    <SocialPill href="https://www.linkedin.com/in/fabrizio-andrade/">
      <LinkedInIcon class="size-4" />
      LinkedIn
    </SocialPill>
  </nav>

</div>


  <style>

    .profile-image {
      float: left;
      width: 6rem;
      height: 6rem;
      border-radius: 50%;
      margin-top: 25px;
      shape-outside: url("/public/fotodeperfil.png");
      shape-margin: 10px;
      margin-right: 0.5rem;
      z-index: 1;
    }

    .animated-badge:hover :global(.badge-content) {
      color: transparent;
    }

    .animated-badge:hover :global(.badge-overlay) {
      transform: translateX(0);
    }
  </style>
