---
 const personalImageAlt = "Fabrizio Andrade"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
  <p>
    <span data-i18n="ABOUT_1">Me considero una</span> <strong data-i18n="ABOUT2">muy buena persona</strong>, <span data-i18n="ABOUT3">con un grupo cerrado y confiable de amigos. Además, se me da bien</span> <strong data-i18n="ABOUT5">relacionarme con otros</strong>, <span data-i18n="ABOUT6">lo cual es clave en un espacio como este, donde el trabajo en grupo es</span> <strong data-i18n="ABOUT7">fundamental</strong> <span data-i18n="ABOUT8">para alcanzar un objetivo</span>. 
  </p>

  <p>
    <span data-i18n="ABOUT9">Hacer este</span> <strong data-i18n="ABOUT10">portfolio</strong> <span data-i18n="ABOUT11">fue un gran primer paso para ganar visibilidad y mostrar algunas de las cosas que he hecho en el</span> <strong data-i18n="ABOUT12">desarrollo</strong> <span data-i18n="ABOUT13">hace menos de un año. Más allá de eso, verlo me hace darme cuenta de todo lo que he</span> <strong data-i18n="ABOUT14" >aprendido</strong> <span data-i18n="ABOUT15">y lo que aún me falta por aprender, lo que me motiva muchísimo</span>.
  </p>
  
  <p>
    <span data-i18n="ABOUT16" >Mi</span> <strong data-i18n="ABOUT17">fuerte</strong> <span data-i18n="ABOUT18">es en el</span> <strong data-i18n="ABOUT19">backend</strong>, <span data-i18n="ABOUT20">aunque me siento igualmente cómodo con tareas en el</span> <strong data-i18n="ABOUT21">frontend</strong></span>.
  </p>
</div>

  <img width="200" height="200" src="/me.webp" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
