<header class="flex justify-between items-center w-[1980px]">
  <img
    class="rounded-full w-10 h-10 ml-[200px]"
    src="/fotodeperfil.png"
    alt="logo"
  />

  <nav class="flex flex-row py-5 gap-x-10 mr-[200px]">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/proyects">Proyects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>

<style>
  header {
    background-color: #3d074e;
  }
</style>
