---
import { getI18 } from "../../i18n";
import { currentLanguage } from "../../store/languages";
import LanguageButton from "../Button/Language-Button.astro";

const i18n = getI18({ currentLocale: currentLanguage.get() });
---

<header class="flex justify-between items-center w-full max-w-[1980px]">
  <!-- <img
    class="rounded-full w-10 h-10 ml-[200px]"
    src="/fotodeperfil.png"
    alt="logo"
  /> -->

  <nav class="flex text-white flex-row border py-5 gap-x-10 m-auto">
    <a href="/" data-i18n="NAVBAR_HOME">Inicio</a>
    <a href="/about" data-i18n="NAVBAR_ABOUT">Sobre mi</a>
    <a href="/proyects" data-i18n="NAVBAR_PROYECTS">Proyectos</a>
    <a href="/contact" data-i18n="NAVBAR_CONTACT">Contacto</a>
  </nav>
  <div class="lg:absolute lg:right-0 lg:mr-3 ml-auto lg:ml-0">
    <LanguageButton />
  </div>
</header>
