<header class="flex justify-between items-center border w-[1980px]">
  <img class="rounded-full w-10 h-10" src="/fotodeperfil.png" alt="logo" />

  <nav class="flex justify-between py-5">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/proyects">Proyects</a>
    <a href="/contact">Contact</a>
  </nav>
</header>
