---
import Hero from "@/components/Hero/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import TitleSection from "@/components/TitleSection/TitleSection.astro";
import CodeIcon from "@/components/icons/Code.astro";
import { getI18 } from "../i18n";
import { currentLanguage } from "../store/languages";
import SectionContainer from "./Section_Container.astro";
import Projects from "./Proyects/Proyects.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Experience from "./Experience/Experience.astro";
import Adjustment from "./icons/Adjustment.astro";
import AboutMe from "./About/AboutMe.astro";

const i18n = getI18({ currentLocale: currentLanguage.get() });
---

<Layout
  title={i18n?.PORTFOLIO_TITLE}
  description="El catalogo de componentes de nuestro portfolio"
>
  <main class="px-4">
    <SectionContainer id="inicio" class="pb-16 pt-36 md:py-36">
      <Hero />
    </SectionContainer>
  </main>
  <div class="space-y-24">
    <div id="proyectos"> 
      
      <SectionContainer>
        <TitleSection>
          <CodeIcon class="size-7" />
          <span data-i18n="NAVBAR_PROYECTS">Proyectos</span>
        </TitleSection>
      </SectionContainer>

      <div class="w-full mx-auto container lg:max-w-7xl px-4 mt-8">
        <Projects />
      </div>
      
    </div>

    <SectionContainer id="trayectoria">
      <TitleSection>
        <Adjustment class="size-8" />
        <span data-i18n="NAVBAR_TRAYECTORY">Experiencias Laborales</span>
      </TitleSection>
      <Experience />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <TitleSection>
        <ProfileCheck class="size-8" />
        <span data-i18n="NAVBAR_ABOUT"> Sobre mí </span>
      </TitleSection>
      <AboutMe/>
    </SectionContainer>
  </div>
</Layout>
