---
import Hero from "@/components/Hero/Hero.astro";
import Layout from "@/layouts/Layout.astro";
import TitleSection from '@/components/TitleSection/TitleSection.astro'
import  CodeIcon from '@/components/icons/Code.astro'
import { getI18 } from "../i18n";
import { currentLanguage } from "../store/languages";
import SectionContainer from "./Section_Container.astro";
import Projects from './Proyects/Proyects.astro'
import ProfileCheck from "@/components/icons/ProfileCheck.astro"


const i18n = getI18({ currentLocale: currentLanguage.get() });
---

<Layout title={i18n?.PORTFOLIO_TITLE} description="El catalogo de componentes de nuestro portfolio">
  <main class="px-4">
    <SectionContainer id="inicio" class="py-16 md:py-36">
      <Hero />
    </slot>
    </SectionContainer>
    <div class="space-y-24">


      <SectionContainer id="proyectos">
        <TitleSection>
          <CodeIcon class="size-7" />
          Proyectos
        </TitleSection>
        <Projects />
      </SectionContainer>

      <SectionContainer id="sobre-mi">
        <TitleSection>
          <ProfileCheck class="size-8" />
          Sobre mí
        </TitleSection>
        <!-- <AboutMe /> -->
      </SectionContainer>
    </div>
  </main>
</Layout>
