---
import ExperienceItem from "./ExperienceItem.astro"
import {StackUrls} from '../../data/stack'
const EXPERIENCE = [
  {
    date: "Septiembre 2024",
    title: "Web developer",
    company: "SoyHenry",
    description:
      "Pasantia de 3 meses en la que puse en practica un stack de tecnologia amplio y que me dio una buena base de programación",
      stack:StackUrls,
      data:1
  },
  {
    date: "2010-2018",
    title: "C2 Proficient Level",
    company: "Denver",
    description:
      "Dominio del inglés a nivel C2, con habilidades avanzadas en comunicación oral y escrita.",
      data:2
  },
]
---

<ol class=" ranking-list relative mt-6">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>


<style>
  .ranking-list > li{

}
</style>