---
import "@fontsource-variable/onest";
import Header from "../components/Header/Header.astro";

interface Props {
  title: string | undefined;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative text-black dark:text-white">
   <div class="fixed inset-0 z-[-2]">
      <!-- Modo claro (predeterminado) -->
      <div class="relative h-full w-full bg-white dark:hidden">
        <div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_80%_at_50%_0%,#000_70%,transparent_100%)]"></div>
      </div>
      <!-- Modo oscuro -->
      <div class="relative h-full w-full bg-slate-950"><div class="absolute bottom-0 left-0 right-0 top-0 bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] [mask-image:radial-gradient(ellipse_80%_80%_at_50%_0%,#000_70%,transparent_100%)]"></div></div>
    </div>
    <Header />
    <slot />
  </body>
</html>



<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Onest Variable", sans-serif;
    scroll-behavior: smooth;

  }

  body {
    color: rgba(17, 17, 17, 0.9);
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    overscroll-behavior: none;
  }

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  a {
    background-color: transparent;
  }
</style>
