<nav
  class="z-20 font-medium tracking-wide text-secondary absolute start-2 top-0 md:start-10"
>
  <ul class="hidden lg:flex">
    <a href=""
      ><li
        class="flex h-16 items-center justify-center px-10 transition-opacity duration-200 motion-reduce:transition-none opacity-90"
        style="clip-path:polygon(3% 0%, 0% 100%, 100% 97%, 90% 0);"
      >
        Español
      </li></a
    >
    <a href=""
      ><li
        class="flex h-16 items-center justify-center px-10 transition-opacity duration-200 motion-reduce:transition-none opacity-90"
        style="clip-path:polygon(0% 0%, 10% 97%, 99% 100%, 100% 0%);"
      >
        English
      </li></a
    >
  </ul>
</nav>

<style>
  li {
    background-color: #183749;
  }

  nav {
    view-timeline: --scroll;
  }

  @keyframes scale-up {
    to {
      scale: 1.5;
    }
  }

  @keyframes fade-away {
    to {
      opacity: 0;
    }
  }

  li {
    animation:
      scale-up both ease-in-out,
      fade-away both linear;
      animation-timeline: --scroll;
      animation-range: exit 0% exit 100%,
      exit 50% exit 90%
  }
</style>
