---
const personalImageAlt = "Fabrizio Andrade";
import Badge from "@/components/icons/Badge.astro";
---

<div class="max-w-xl relative">
  <div class="divcontainer">
    <h1
      class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white mt-0 mb-0"
    >
      Hola! Soy Fabrizio
    </h1>

    <div class="textybadge">
      <img
        class="profile-image"
        src="/fotodeperfil.png"
        alt={personalImageAlt}
      />
      <a
        href="https://linkedin.com/in/midudev"
        target="_blank"
        rel="noopener"
        class="inline-flex items-center transition md:justify-center animated-badge"
      >
        <Badge>Disponible para trabajar</Badge>
      </a>
      <p
        class="mt-4 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300"
      >
        <strong>Fullstack Web Developer</strong> y <strong
          >Estudiante de Ciencias de la Computacion</strong
        > de Buenos Aires, Argentina 🇦🇷.
      </p>
    </div>
  </div>
</div>

<style>
  .divprincipal {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
  }

  .divcontainer {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .textybadge {
    overflow: hidden;
    position: relative;
    padding-top: 60px;
  }

  .profile-image {
    float: right;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: -60px;
    shape-outside: circle(50%);
    position: relative;
    z-index: 1;
  }

  .animated-badge:hover :global(.badge-content) {
    color: transparent;
  }

  .animated-badge:hover :global(.badge-overlay) {
    transform: translateX(0);
  }

  @media (max-width: 640px) {
    .profile-image {
      width: 100px;
      height: 100px;
      margin-top: -40px;
    }

    .text-container {
      padding-top: 40px;
    }
  }
</style>
